@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --white-color:#ffffff;
    --red-color:#FF3451;
    --grey-color:#A8A8A8;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #1A1A1A;
    font-size:15px;
}
.shop_margin{
    margin-bottom: 3px;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.header-top{
    background-color: #CED3CA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0;
}

li{
    list-style-type: none;
}

a, a:visited{
    text-decoration: none;
}

.header-top__title{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    height: 20px;
    margin-right: 16px;
}
.section-one__title{
    height: 29px;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 28px;
}
.section-one__link{
    font-size: 1rem;
    line-height: 1.4rem;
    color: #ffffff;
}
.header-top__box{
    width: 113px;
    height: 28px;
    background-color:#1A1A1A ;
    color: #F7F7F7;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    display: block;
}

.section-one{
    height: 600px;
    background-image: url(../images/notepadback.jpg);
    background-size: cover;
}
.header-main{
    margin-left: 75px;
    display: flex;
    flex-direction: row;
}

.header-main__logo{
    width: 265px;
    height: 40px;
    margin-top: 32px;
    margin-bottom: 42px;
}
.header-nav{
    width: 330px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    gap: 32px;
    margin-left: 50px;
    margin-right: 327px;
    margin-top: 32px;
}
.header_search{
    width: 253px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 43px;
}
.section-one__main{
    height: 52px;
    padding-top: 518px;
}

.section-two__button{
    display: block;
    width: 302px;
    height: 56px;
    background-color: #1A1A1A;
    color: #F7F7F7;
    text-align: center;
    font-size: 20px;
    line-height: 56px;
    margin-top: 65px;
    margin-bottom: 127px;
}

.section-three{
    background-color: #CED3CA;
    padding-bottom: 127px;
}
.section-three__block{
    height: 406px;
    display: flex;
    flex-direction: row;
    padding-top: 127px;
}
.section-two__main{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
}
.section-two__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 48px;
    margin-bottom: 50px;
}

.section-three__main{
    width: 406px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 33px;
    background-color: #F7F7F7;
}
.section-four{
    background-color: #F8F6F2;
    padding-bottom: 115px;
}
.section-four__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
}
.section-six__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 234px;
}
.shop__block{
    display: block;
}

.section-four__shop{
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 114px;
    padding-top: 90px;
}
.header-nav__list{
    display: inline;
}
.block__element-location{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.arg{
    margin-bottom: 5px;
}
.section-five{
    padding-bottom: 127px;
    background-color: #CED3CA;
}
.section-five__block{
    height: 406px;
    display: flex;
    flex-direction: row;
    padding-top: 127px;
}
.section-five__main{
    width: 406px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F7F7;
}
.section-six{
    height: 600px;
    background-image: url(../images/manback.jpg);
    background-size: cover;
}
.email{
    height: 443px;
    background-color: #CED3CA;
}
.footer{
    display: flex;
    flex-direction: row;
    color: #F7F7F7;
    padding-bottom: 85px;
}

.email-size{
    width: 338px;
    height: 48px;
    border: 1px solid #242424;
    background-color: white;
    margin-right: -23px;
    margin-top: 26px;
    margin-left: 5px;
    padding-left: 18px;
}
.email-button{
    width: 66px;
    height: 50px;
    background-color: white;
    border: 1px solid #242424;
}
.form_footer{
    width: 420px;
    height: 94px;
}
.list__link{
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 16px;
}
.list__name{
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 14px;
}
.logo__title{
    font-size: 1rem;
    line-height: 21px;
    text-align: right;
}
.footer__logo:nth-child(2){
    width: 233px;
    height: 42px;
    text-align: right;
}

.header-nav__link{
    font-size: 16px;
    line-height: 20px;
}

.underline_link{
    border-bottom: 1px solid;
}
.underline_link::after{
    content: "→";
    display: block;
}
.header-search__link{
    font-size: 1rem;
    line-height: 1.2rem;

}
.header-search__list{
    margin-left: 13px;
}
.header-search__list:first-child{
    margin-left: 0;
}

.header-search__list:nth-child(3n){
    margin-left: 30px;
}

.header-search__list:nth-child(2n-1){
    border-right: 1px solid black;
    padding-right: 12px;
}
.email__heading{
    font-size: 34px;
    line-height: 41px;
    text-align: center;
}
.email__title{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 373px;
    height: 68px;
    margin-top: 19px;
    margin-bottom: 30px;
}

.section-six__heading{
    width: 782px;
    height: 108px;
    font-size: 35px;
    line-height: 54px;
    text-align: center;
    color: var(--white-color);
}
.section-six__title{
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    color: var(--white-color);
    width: 117px;
    height: 22px;
}
.section-five__heading{
    font-size: 37px;
    line-height: 46px;
    margin-left: 93px;
}
.section-five__title{
    height: 63px;
    width: 209px;
    font-size: 1rem;
    line-height: 21px;
    margin-top: 21px;
    margin-bottom: 32px;
    margin-left: 93px;
}
.shop-link{
    font-size: 14px;
    line-height: 21px;
    margin-left: 93px;
    height: 22px;
    width: 100px;
}

.shop__link{
    font-size: 16px;
    line-height: 24px;
    display: block;
    height: 24px;
    width: 106px;
}
.section-four__heading{
    width: 630px;
    height: 72px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.section-three__heading{
    font-size: 38px;
    line-height: 46px;
    height: 137px;
    width: 220px;
    margin-left: 93px;
}
.block__price{
    font-size: 13px;
    line-height: 13px;
}
.block__new-price{
    font-size: 13px;
    line-height: 13px;
    color: var(--red-color);
}
.block__old-price{
    font-size: 13px;
    line-height: 13px;
    color: var(--grey-color);
    margin-right: 5px;
}
.block__description-title{
    font-size: 14px;
    line-height: 1.2rem;
    color: var(--grey-color);
}
.block__main-title{
    font-size: 1rem;
    line-height: 1.2rem;
    margin-right: 5px;
}
.font_shop_q{
    margin-bottom: 5px;
}
.section-two__menu-title{
    font-size: 17px;
    line-height: 27px;
    color:#B3B3B3;
    height: 27px;
    padding-top: 20px;
}
.section-two__menu li:first-child a{
    font-size: 17px;
    line-height: 27px;
    height: 32px;
    color: #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding-bottom: 8px;
}
.section-two__block{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.email__main{
    height: 273px;
    width: 420px;
    padding: 85px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common-margin{
    margin: 0 auto;
    max-width: 1160px;
}
.block{
    width: 275px;
    height: 420px;
}
.block_x{
    width: 275px;
    height: 438px;
}
.block__image{
    margin-bottom: 7px;
}
.footer-list{
    width: 300px;
    height: 189px;
    margin-top: 85px;
}
.footer-end{
    width: 320px;
    height: 189px;
    margin-left: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 85px;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    width: 240px;
    height: 124px;
    margin-right: 24px;
    align-items: flex-end;
}
.logo__img{
    width: 55px;
    height: 88px;
}
.footer-link{
    width: 320px;
    height: 65px;
    display: flex;
    flex-direction: row;
}
.link__img{
    margin-right: 16px;
}
.link__img:first-child{
    margin-left: 198px;
}